body,
html,
ul,
ol {
  margin: 0;
  padding: 0;
}


header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* Styling for main */
main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form styles */
form {
  margin-bottom: 20px;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* question styles */
h3 {
  margin-bottom: 10px;
}

/* answer styles */
input[type="radio"],
label {
  margin-right: 10px;
}

/*  footer */
footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}
