<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Quiz App - Show Questions</title>
  <!-- Add necessary stylesheets -->
</head>
<body>
  <h1>Show Questions</h1>
  <ul>
    <% questions.forEach((question, index) => { %>
      <li><%= index + 1 %>. <%= question.question %></li>
      <ul>
        <% question.answers.forEach((answer) => { %>
          <li><%= answer %></li>
        <% }) %>
      </ul>
    <% }) %>
  </ul>
  <a href="./uploadQuestion.ejs">Upload Question</a>

  <script src="/public/js/quiz.js"></script>
</body>
</html>
